#um-sortable .small{
	width:25%;
	float:left;
	position:relative;
	padding:10px;
	text-align:center;
}
#um-sortable .delete {
    display: none;
    top: 4px;
    left: 20px;
    position: absolute;
	width:16px;
	height:16px;
	background:url(../img/close.png) no-repeat;
	background-size:16px 16px;
}
#um-sortable .dragli .delete{
	display: block;
}

.iSlider-wrapper {
    height: 150px;
}